In [1]:
#importing necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import numpy as np
import pandas as pd
import time
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup,SoupStrainer
import requests

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#open chrome browser and the URL
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
#scraping the data from the page
rank=[]
video_name=[]
artist=[]
upload_date=[]
views=[]
try:
    rk=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rk[:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in name[:30]:
        video_name.append(i.text)
except NoSuchElementException:
    video_name.append('-')

try:
    art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in art[:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

try:
    upload=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in upload[:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')
    
try:
    view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view[:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

#getting the length of each list
print(len(rank))
print(len(video_name))
print(len(upload_date))
print(len(views))
print(len(artist))

30
30
30
30
30

In [4]:
#creating dataframe
df=pd.DataFrame({'Rank':rank,'Name':video_name,'Artist':artist,'Upload Date':upload_date,'Views in "Mn"':views})

#setting Rank as index
df.set_index('Rank', inplace=True)
df

,Name,Artist,Upload Date,"Views in ""Mn"""
Rank,,,,
1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [5]:
#closing previous sessing 
driver.close()

In [6]:
#initiating chrome browser and opening URL
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')
time.sleep(3)

In [7]:
#click on the menu to land on desired page
driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()
time.sleep(3)
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]').click()
time.sleep(1)
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[7]').click()
time.sleep(1)

In [8]:
#scraping the data 
match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

try:
    match=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in match:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append('-')

try:
    Ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in Ser:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

try:
    pla=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in pla:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

try:
    Da=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in Da:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

try:
    tim=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in tim:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')
    
#getting the length of each list
print(len(match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [9]:
#creating dataframe
df=pd.DataFrame({'Match Title':match_title,'Serise':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match Title,Serise,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI - Punjab Cricket Association IS Bindra...,22 SEP 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"2nd ODI - Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI - Saurashtra Cricket Association Stadi...,27 SEP 2023,1:30 PM IST
3,1st ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"1st ODI - Barsapara Cricket Stadium, Guwahati",30 SEP 2023,2:00 PM IST
4,1st T20I -,19TH ASIAN GAMES 2023,"1st T20I - Pingfeng Cricket Field, Hangzhou",3 OCT 2023,6:30 AM IST
5,2nd ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"2nd ODI - Greenfield International Stadium, Th...",3 OCT 2023,2:00 PM IST
6,1st ODI -,ICC MENS WORLD CUP 2023,"1st ODI - MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
7,2nd ODI -,ICC MENS WORLD CUP 2023,"2nd ODI - Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A)
Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
#closing prevoius session
driver.close()

In [11]:
#initiating Chrome browser and opening URL
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')
time.sleep(3)

In [13]:
#cliking on the menu for landing on desired page 
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)

In [14]:
#fetching the data
rank=[]
state=[]
GSDP_18_19=[]
GSDP_19_20=[]
share_18_19=[]
GDP=[]

try:
    ran=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in ran[:33]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

try:
    sta=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in sta[:33]:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
try:
    GSD_18=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in GSD_18[:33]:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append('-')
    
try:
    GSD_19=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in GSD_19[:33]:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append('-')
    
try:
    Share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in Share[:33]:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('-')
    
try:
    gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in gdp[:33]:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

#getting the length of each list
print(len(rank),len(state),len(GSDP_18_19),len(GSDP_19_20),len(share_18_19),len(GDP))

#creating Dataframe
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)- at current prices':GSDP_18_19,'GSDP(19-20)- at current prices':GSDP_19_20,'Share(18-19)':share_18_19,'GDP':GDP})
df

33 33 33 33 33 33

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [15]:
#closing the previous session
driver.close()

In [16]:
#initialising the chrome browser and opening desired url
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [17]:
#defining Click function, where we want to clik on the page just need to pass xpath for same
def click(x):
    driver.find_element(By.XPATH,x).click()

In [18]:
#clicking on the menu to land on desired page using Click function
time.sleep(1)
click('/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
time.sleep(1)
click('/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')

In [19]:
#scraping the data from page
title=[]
description=[]
cont_count=[]
language=[]

try:
    tit=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in tit:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')

try:
    desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc:
        description.append(i.text)
except NoSuchElementException:
    description.append('-')

try:
    cont=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[1]') 
    for i in cont:
        cont_count.append(i.text)
except NoSuchElementException:
    cont_count.append('-')

try:
    lang=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
    for i in lang:
        language.append(i.text)
except NoSuchElementException:
    language.append('-')

#getting the length of each list
print(len(title),len(description),len(cont_count),len(language))

25 25 25 25

In [20]:
#creating dataframe
df=pd.DataFrame({'Repository title':title,'Repository description':description,'Contributors count':cont_count,'Language used':language})
df

,Repository title,Repository description,Contributors count,Language used
0,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,"16,034",Python
1,aiwaves-cn / agents,An Open-source Framework for Autonomous Langua...,965,Python
2,isocpp / CppCoreGuidelines,The C++ Core Guidelines are a set of tried-and...,"39,134",Python
3,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"70,532",C++
4,godotengine / godot-docs,Godot Engine official documentation,"2,703",reStructuredText
5,FlaxEngine / FlaxEngine,Flax Engine – multi-platform 3D game engine,"4,476",C++
6,yoheinakajima / instagraph,Converts text input or URL into knowledge grap...,"2,138",Python
7,stride3d / stride,Stride Game Engine (formerly Xenko),"5,002",C#
8,nuejs / nuejs,Build user interfaces with 10x less code. Alte...,"1,177",JavaScript
9,raysan5 / raylib,A simple and easy-to-use library to enjoy vide...,"15,152",C
10,godotengine / godot-cpp,C++ bindings for the Godot script API,"1,061",C++
11,sxyazi / yazi,⚡️ Blazing fast terminal file manager written ...,"1,675",Rust
12,lodash / lodash,A modern JavaScript utility library delivering...,"57,339",JavaScript
13,TheCherno / Hazel,Hazel Engine,"10,241",C++
14,kholia / OSX-KVM,Run macOS on QEMU/KVM. With OpenCore + Big Sur...,"16,864",Python
15,tldraw / tldraw,a very good whiteboard,"19,851",TypeScript
16,bevyengine / bevy,A refreshingly simple data-driven game engine ...,"26,110",Rust
17,DroidKaigi / conference-app-2023,The Official Conference App for DroidKaigi 2023,506,Kotlin
18,godotengine / godot-demo-projects,Demonstration and Template Projects,"3,835",GDScript
19,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,"15,246",C++
20,ethereum-lists / chains,provides metadata for chains,"6,860",Kotlin
21,commaai / openpilot,openpilot is an open source driver assistance ...,"41,607",Python
22,public-apis / public-apis,A collective list of free APIs,"256,034",Python
23,Kr328 / ClashForAndroid,A rule-based tunnel for Android.,"27,366",Kotlin
24,JetBrains / compose-multiplatform,"Compose Multiplatform, a modern UI framework f...","13,252",Kotlin

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [21]:
#closing previous session
driver.close()

In [22]:
#initialising chrome browser and opening desired URL
driver=webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [23]:
#Click on the menu for getting on desired page using click function
click('/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
time.sleep(2)
click('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')

In [24]:
#scraping the data
name=[]
artist=[]
last_rank=[]
peak_rank=[]
Weeks_ob=[]

try:
    nm=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append(i.text)

try:
    art=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append(i.text)

try:
    la=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
    for i in la:
        last_rank.append(i.text)
except NoSuchElementException:
    last_rank.append(i.text)

try:
    peak=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
    for i in peak:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append(i.text)

try:
    wr=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
    for i in wr:
        Weeks_ob.append(i.text)
except NoSuchElementException:
    Weeks_ob.append(i.text)

#getting the length of each list
print(len(name),len(artist),len(last_rank),len(peak_rank),len(Weeks_ob))

100 100 100 100 100

In [25]:
#creating dataframe
df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':last_rank,'Peak rank':peak_rank,'Weeks on board':Weeks_ob})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Paint The Town Red,Doja Cat,3,1,5
1,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,1,1,2
2,Fast Car,Luke Combs,2,2,24
3,Cruel Summer,Taylor Swift,5,3,18
4,Last Night,Morgan Wallen,4,1,32
...,...,...,...,...,...
95,Stand By Me,Lil Durk Featuring Morgan Wallen,93,22,15
96,Call Your Friends,Rod Wave,85,26,3
97,Your Heart Or Mine,Jon Pardi,72,47,17
98,Primera Cita,Carin Leon,97,97,2
99,S91,Karol G,86,45,6

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare You have to find the following details:

In [26]:
#closing the previous session
driver.close()

In [27]:
#initialising chrome browser and opening desired URL
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [28]:
#scraping the data
rank=[]
title=[]
author=[]
sold=[]
publisher=[]
genre=[]

try:
    ra=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
    for i in ra:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

try:
    tit=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in tit:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')

try:
    au=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in au:
        author.append(i.text)
except NoSuchElementException:
    author.append('-')

try:
    so=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in so:
        sold.append(i.text)
except NoSuchElementException:
    sold.append('-')

try:
    pu=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in ra:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')

try:
    ge=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in ge:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

#getting the length of each list
print(len(rank),len(title),len(author),len(sold),len(publisher),len(genre))

100 100 100 100 100 100

In [29]:
#creating dataframe
df=pd.DataFrame({'Rank':rank,'Book name':title,'Author name':author,'Volumes sold':sold,'Publisher':publisher,'Genre':genre})

#setting Rank as index
df.set_index('Rank', inplace=True)
df

,Book name,Author name,Volumes sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",1,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",2,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",3,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",4,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",5,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",96,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",97,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",98,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",99,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",100,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You
have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [30]:
#closing previous session
driver.close()

In [31]:
#initialising chrome browser and opening desired URL
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [32]:
#scraping the data
rank=[]
name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]
try:
    ra=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[1]')
    for i in ra:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in ra:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in ra:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in ra:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in ra:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ra:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
    
try:
    ra=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in ra:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

#getting the length of each list
print(len(rank),len(name),len(year),len(genre),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100 100

In [33]:
#creating dataframe
df=pd.DataFrame({'Rank':rank,'Name':name,'Year span':year,'Genre':genre,'Run time':run_time,'Ratings':ratings,'Votes':votes})

#setting Rank as index
df.set_index('Rank', inplace=True)
df

,Name,Year span,Genre,Run time,Ratings,Votes
Rank,,,,,,
1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,204,249"
2.,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,275,772"
3.,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,045,898"
4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,367"
5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,466"
...,...,...,...,...,...,...
96.,Reign,(2013–2017),Drama,42 min,7.5,"52,729"
97.,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,783"
98.,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,047"
99.,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,900"
100.,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"265,999"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year,  

Note: - from the home page you have to go to the Show All Dataset page through code.

In [34]:
#closing previous session
driver.close()

In [35]:
#initialising chrome browser and opening desired URL
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

#click on the menu to land on desired page using Click function
click('/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
time.sleep(2)
click('/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')

In [36]:
#scraping desired data
name=[]
d_type=[]
task=[]
at_type=[]
inst=[]
no_of_att=[]
year=[]

try:
    na=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in na:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')

try:
    na=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
    for i in na:
        d_type.append(i.text)
except NoSuchElementException:
    d_type.append('-')

try:
    na=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
    for i in na:
        task.append(i.text)
except NoSuchElementException:
    task.append('-')

try:
    na=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
    for i in na:
        at_type.append(i.text)
except NoSuchElementException:
    at_type.append('-')

try:
    na=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
    for i in na:
        inst.append(i.text)
except NoSuchElementException:
    inst.append('-')

try:
    na=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
    for i in na:
        no_of_att.append(i.text)
except NoSuchElementException:
    no_of_att.append('-')

try:
    na=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
    for i in na:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')

#getting length of each list
print(len(name),len(d_type),len(task),len(at_type),len(inst),len(no_of_att),len(year))

10 10 10 10 10 10 10

In [37]:
#creating dataframe
df=pd.DataFrame({'Dataset name':name,'Data type':d_type,'Task':task,'Attribute type':at_type,'No of instances':inst,'No of attribute':no_of_att,'Year':year})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Features,N/A
5,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Features,10/6/2019
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,4/27/1987